.container{
    padding: 20px;
}
.question-text {
    text-align: left;
    font-family: sans-serif;
    margin-left: 18px;
}
.question-text .question-id{
    color: #0D7BAB;
    font-size: 18px;
    padding-right: 10px;
    font-weight: bold;
}
.question-text .text{
    color: #223336;
    font-size: 16px;
}

